footer {


    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    h3 {
        font-size: 2rem;
        text-align: center;
        margin: 20px;
    }

    h4 {
        font-size: 2rem;
        text-align: center;
        margin: 20px;
    }

    div {

        display: flex;
        flex-direction: row;
        align-items: center;




        &.socialMedia {
            justify-content: center;
        }

        #googleMap {
            width: 50%;
            margin: auto;
            height: 400px;
            border-style: solid;


        }

        #ContactForm {
            width: 50%;
            margin: auto;
            height: 400px;
            background-color: yellow;
            border-style: solid;
        }
    }

    button {
        padding: 10px;
        outline: none;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        width: 50px;
        height: 50px;
        margin: 10px;
        text-align: center;
        cursor: pointer;

        i {
            background-color: rgba(0, 0, 0, 0);
        }
    }


}