* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

header div.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.topnav div.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
}

header div.topnav div.logo img {
  width: auto;
  height: 48px;
}

header div.topnav div.topnav2 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

header div.topnav div.topnav2 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

header div.topnav div.topnav2 a:hover {
  background-color: #bbb;
  color: white;
}

header div.topnav div.topnav2 input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 16px;
  border-radius: 0% 10% 10% 0%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h3 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

footer h4 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.socialMedia {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div button {
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

footer div button i {
  background-color: rgba(0, 0, 0, 0);
}

/*Slideshow container*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  margin: auto;
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #717171;
}

/*Position the 'next' button to the right*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*On hover, add a black background with a little bit see-through*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*Number text 1/3 etc */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*The dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/*Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.school {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 2rem auto;
}

.school div {
  margin: 2rem auto;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  border-radius: 30%;
  height: 3px;
  background-color: rgba(236, 167, 40, 0.472);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.school h2 {
  text-align: center;
  font-size: 2rem;
  padding: 0 1rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

section {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section div.container_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

section div.container_first img {
  border-style: solid;
  border-color: #bbb;
  -o-object-fit: contain;
     object-fit: contain;
  width: 48%;
}

section div.container_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

section div.container_second img {
  border-style: solid;
  -o-object-fit: contain;
     object-fit: contain;
  width: 48%;
}
/*# sourceMappingURL=style.css.map */